<div id="certifications">
	<div class='col-12 col-md-8 col-lg-4' id='certificationsCarousel'>
		<div id="certificationsCarouselIndicators" class="carousel slide carousel-fade" data-ride="carousel">

			<ol class="carousel-indicators">
				<li data-target="#certificationsCarouselIndicators" data-slide-to="0" class='active'></li>
				<li data-target="#certificationsCarouselIndicators" data-slide-to="1"></li>
				<li data-target="#certificationsCarouselIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				
				<div class="carousel-item active">
					<div class="card p-3">
						<img src="/main/img/issalogo.jpg" class='card-img-top' alt="">
						<div class="card-body">
							<h5 class="card-title">International Sports Sciences Association</h5>
							<p class="card-text">More information about International Sports Sciences Association certification will go here.</p>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="card p-3">
						<img src="/main/img/girlsgonestrong.jpg" class='card-img-top' alt="">
						<div class="card-body">
							<h5 class="card-title">Certified Pre and Post-Natal Coach</h5>
							<p class="card-text">More information about Girls Gone Strong Certification will go here.</p>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="card p-3">
						<img src="/main/img/americanRedCross.jpg" class='card-img-top' alt="">
						<div class="card-body">
							<h5 class="card-title">Certified in Cardiopulmonary Resuscitation</h5>
							<p class="card-text">More information about American Red Cross CPR Certification will go here.</p>
						</div>
					</div>
				</div>
						
			</div>
			<a href="#certificationsCarouselIndicators" class="carousel-control-prev" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a href="#certificationsCarouselIndicators" class="carousel-control-next" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</div>