<div id="contact">
	<div class="col-5" id="contactForm">
		<form action="">
			<h3 class='text-center text-light'>We would love to answer any questions about our services, memberships, or anything else.</h3>
			<div class="form-group">
				<label for='contactName' class='text-light'>Name</label>
				<input type="text" class="form-control" id="contactName" placeholder="Your Name">
			</div>
			<div class="form-group">
				<label for='contactEmail' class='text-light'>Email</label>
				<input type='text' class='form-control' id='contactEmail' placeholder="Email@example.com">
			</div>
			<div class="form-group">
				<label for='contactContent' class='text-light'>Any Questions?</label>
				<textarea class='form-control' id='contactContent' rows='3' placeholder="What is the difference between package ___ and package ___?"></textarea>
			</div>
			<div class='text-center'>
				<button type='submit' class='btn btn-primary m-2'>Submit Questions</button>
				<button type='submit' class='btn btn-danger m-2' id='closeContactForm'>Cancel</button>
			</div>
		</form>
	</div>
</div>