<footer class='bg-dark'>
<div class="row text-light">
	<div class="col-md-4">
		<div class="card text-center">
			<div class="card-header">
				<h5>Fitness Trainer</h5>
			</div>
			<div class="card-body">
				<ul class="list-group">
					<li class="list-group-item"><a href="/">Home</a></li>
					<li class="list-group-item" id='aboutLink'><a href="/about">About</a></li>
					<li class="list-group-item" id='certificationsLink'>Certifications</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card text-center">
			<div class="card-body" id='footerSecondColumn'>
				<ul class="list-group">
					<li class="list-group-item"><a href="/sitemap">Sitemap</a></li>
					<li class="list-group-item"><a href="/resources">Resources</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card text-center">
			<ul class="list-group list-group-horizontal ml-auto mr-auto">
				<li class="list-group-item" data-toggle='tooltip' title='Facebook'><a href="https://www.facebook.com/sharer.php?u=https://vast-peak-69945.herokuapp.com/" target="_blank"><i class="fab fa-facebook"></i></a></li>
				<li class="list-group-item" data-toggle='tooltip' title='Pinterest'><a href=""><i class="fab fa-instagram"></i></a></li>
				<li class="list-group-item" data-toggle='tooltip' title='Twitter'><a href=""><i class="fab fa-twitter"></i></a></li>
				<li class="list-group-item" data-toggle='tooltip' title='Snapchat'><a href=""><i class="fab fa-snapchat"></i></a></li>
			</ul>
			<form action="" class='ml-auto mr-auto mt-2'>
				<div class="form-group">
					<label for='searchQuestion' class='mt-2'>Can't Find What You're Looking For?</label>
					<input type='text' class='form-control ml-auto mr-auto mt-1' id='searchQuestion'>
					<button type='submit' class='btn btn-primary mt-2' value='Search'>Search</button>
				</div>
			</form>
		</div>
	</div>
</div>
	



		<ul class="nav justify-content-center bg-dark">
			<li class="nav-item">
				<a href="#" class="nav-link disabled" aria-disabled='true'>&copy; Copyright <script type='text/javascript'>let d=new Date(); document.write(d.getFullYear());</script>, Richard Rockwell. All Rights Reserved</a>
			</li>
		</ul>
</footer>