<div id="logoutOverlay">
	<form id='logoutForm'>
		<h4 class='text-light text-center'>Are you sure you want to logout?</h4>
		<div id='button-container'>
			<button class='btn btn-success m-2' id='logoutConfirm'><a href='/users/logout' id='yes'>Yes, leave.</a></button>
			<button type='submit' class='btn btn-danger m-2' id='logoutCancel'>No, wait!</button>
		</div>
	</form>
</div>