<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/1ea548000a.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/main/css/styles.css">
	<title>Node.js & Passport Login App</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<a href="#" class="navbar-brand"><img src='https://via.placeholder.com/30' class='mr-2'>Fitness Trainer</a>
	<button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navDropdown' aria-controls='navDropdown' aria-expanded='false' aria-label='Toggle Navigation'>
		<span class='navbar-toggler-icon'></span>
	</button>
	<div class="collapse navbar-collapse" id="navDropdown">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a href="#" class="nav-link">Home<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link" id="registerNavLink">Videos</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link" id="loginNavLink">Workouts</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link">Membership Plans</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link" id='contactNav'>Contact</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link" id='feedbackNav'>Feedback</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto mr-2">
			<li class="nav-item">
				<a href="#" class='nav-link' id='logoutNavLink'>Logout</a>
			</li>
		</ul>
	</div>
</nav>

<div id="background-image"><img src="https://images.squarespace-cdn.com/content/v1/54a7e165e4b0c9d38e0fe392/1421188727205-8TTM9ZVWR79XQLX650D1/ke17ZwdGBToddI8pDm48kOggE0Ch6pMGalwtLMqzsSB7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1Ufo5RWkg_J4of0jUNHaDHx6pZKBvpVYzidBWCapg0tuoMuEaB2HPGSYDV-11UTcW2g/path-running-feet.jpg?format=1500w" alt=""></div>


<div id='messages' class='m-3'>
	<% include ./partials/messages %>
</div>

	<% include ./partials/logoutOverlay %>
	<% include ./partials/feedbackForm %>
	<% include ./partials/contactForm %>
	<% include ./partials/footer %>



	<!-- jQuery first, then Popper, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src='/main/js/index.js'></script>
</body>
</html>