/* XS Background Image */
@media(max-width: 575px){

body {
	background: url('/main/img/background-xs.jpg');
	background-size: 100vw 100vh;
	z-index:999;
	}
}
/* SM Background Image */
@media (min-width: 576px) and (max-width:767px){
	body {
	background: url('/main/img/background-sm.jpg');
	background-size: 100vw 100vh;
	z-index:999;
	}

}

/* MD Background Image */
@media (min-width: 768px){
	body {
		background-image: url('/main/img/background-md.jpg');
		background-size: 100vw 100vh;
		z-index:999;
	}
}

/* LG Background Imag0e */
@media (min-width: 992px){
	body {
		background-image: url('/main/img/background-lg.jpg');
		background-size: 100vw 100vh;
		z-index:999;
	}
}

/* XL Background Image */
@media (min-width: 1200px){
	body {
		background-image: url('/main/img/background-xl.jpg');
		background-size:100vw 100vh;
		z-index:;
	}
}

/* Bigger Screens */
@media(min-width: 1500px){
	html{
		background-image: url('/main/img/background-xxl.jpg');
		background-size: 100vw 100vh;
		z-index:1;
	}
}
#overlay, #logoutOverlay, #feedback, #contact, #certifications {
	position: fixed; /* Sit on top of page content */
	display: none; /* Hidden By Default */
	width: 100%; /* Full Width (cover entire page) */
	height: 100%; /* Full Height (cover entire page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2;
	cursor: pointer; /* Add Pointer On Hover */
	justify-content: center;
}

#registerLoginForm, #feedbackForm, #contactForm, #certificationsCarousel {
	top:20vh;
	height:65vh;
	margin-bottom: 15vh;
}

#logoutOverlay {
	position: fixed;
L	display: none;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0,0,0,0.5);
	z-index:3;
	cursor: pointer;
	justify-content:center;
}

#logoutForm {
	margin-top:auto;
	margin-bottom:auto;
}

#button-container {
	display: flex;
	justify-content: center;
	margin-top:25px;
}

#yes{
	text-decoration: none;
	color: white;
}

.dropdown-menu {
	opacity: .1;
}

.dropdown-item {
	opacity: 1;
}

.tab-content, #feedbackForm, #contactForm {
	overflow-y:scroll;
	height: 50vh;
}

::-webkit-scrollbar {
	width:0px;
}

/* Footer */

footer {
	overflow-y: scroll;
	overflow-x: scroll;
	max-height: 250px;
	position: fixed;
	bottom:0;
	width:100vw;
	border-top: 1px solid white;
}

footer a {
	text-decoration: none;
	color: white;
}

footer a:hover {
	color:pink;
}

footer .card, footer .card-header, footer .card-body, footer .list-group, footer .list-group-item {
	background-color: transparent;
	border: none;
	text-decoration: none;
}

#searchQuestion {
	max-width: 300px;
}

#footerSecondColumn{
	margin-top:55px;
}


.fab {
	font-size: 36px;
	margin-left:10px;
	margin-right:10px;
}


#social {
	position: fixed;
	right:0;
	bottom: 50px;
	right: 5vw;
}

.fa-facebook {
	color: #4267b2;
}

.fa-twitter {
	color: #38A1F3;
}

.fa-instagram {
	color:  #231F20;
}

.fa-snapchat {
	color: #FFFC00;
}

.fa-pinterest {
	color: #BD081C
}

/* Certifications Carousel */

.carousel-control-prev:hover, .carousel-control-next:hover{
	background-color: grey;
	opacity: .1; 
}

.carousel-item img {
	max-height:250px;
}
